/*

.red{
	background-color: red;
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;

}

.blue {
	background-color: cornflowerblue;
	height: 100%;
	width: 100%;
}

.green{
	background-color: green;
	width: 100px;
	height: 100px;
	float: right;
	padding-left: 20px;
	margin: 10px;
}


.green {
	background-color: green;
	width: 100px;
	height: 30%;
	float: right;
	margin-right: 5%;

}

*/